extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Sam Munter

        p.lead.text-light
          | Full Stack JavaScript Student.

        .portfolio-bio
          p
            | Hi! My name is Sam. I'm a student in Treehouse's Full Stack JavaScript TechDegree. I wrote my first line of code in spring of 2019, and am so excited about the progress I've made in that time! I particularly enjoy client-side JavaScript and adding functionality to webpages. Find out more by visiting my LinkedIn!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node.js
          li AJAX
          li HTTP
          li Asynchronous Programming 
          li jQuery
        h6 Contact Info

        ul
          li 555-555-5555
          li s.r.munter@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/sam-munter') LinkedIn
        a.button.expanded(href='https://github.com/Samunter') GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  